@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants before, after {
    .content {
      content: '';
    }
  }
}

@font-face {
  font-family: 'Bourgeois-Book';
  src: local('Bourgeois-Book'),
    url(./src/assets/fonts/Bourgeois-Book.otf) format('opentype');
}

body > #root {
  width: 100vw;
  height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: linear-gradient(#294573, #0d0c1e);
  color: #fff;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
